header {
    height: 70px;
    width : 100%;
    background-color : white;
    border-bottom: 1px solid #CCCCCC
}

.the_header{
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 60px;
}
